public/examples/99_NiFi_Status_Elasticsearch.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Includes an Input Port and process group that stores NiFi status JSON objects in Elasticsearch for long term display of NiFi status history.  To use, create a SiteToSiteStatusReportingTask with the Input Port name set to "NiFi Status Input" and configure the remaining settings appropriately.  You can use the filters in the reporting task to limit which statuses are reported to Elasticsearch.</description>
  <groupId>66ef7ae5-4bdb-4c50-9811-429be759f6fb</groupId>
  <name>NiFi Status Elasticsearch</name>
  <snippet>
    <connections>
      <id>8c4c44fd-9e3b-3844-0000-000000000000</id>
      <parentGroupId>fce18d90-d921-3ed2-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
        <id>6ef37efb-8389-35d0-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>fce18d90-d921-3ed2-0000-000000000000</groupId>
        <id>5d6f69a8-d165-3ddb-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <inputPorts>
      <id>5d6f69a8-d165-3ddb-0000-000000000000</id>
      <parentGroupId>fce18d90-d921-3ed2-0000-000000000000</parentGroupId>
      <position>
        <x>66.3002858459563</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>NiFi Status Input</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>01a8e035-8a1a-3eb7-0000-000000000000</id>
      <parentGroupId>fce18d90-d921-3ed2-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>133.56266485331014</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>d105d795-2667-39cd-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>878.1852416992188</x>
            <y>-685.5494384765625</y>
          </bends>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>eb99479f-456f-3ef7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>1b502e76-902b-350e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ef5067cb-7ebf-3b3a-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>4251c603-1c70-357d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>6ef37efb-8389-35d0-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f59906e6-a6bc-3788-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>858.3849295682459</x>
            <y>-470.172634890215</y>
          </bends>
          <bends>
            <x>858.3849295682459</x>
            <y>-420.172634890215</y>
          </bends>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>86ff1fe9-68df-329e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>retry</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>86ff1fe9-68df-329e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>04d4f88b-6c09-313e-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1458.3017391669473</x>
            <y>-848.7296879704868</y>
          </bends>
          <bends>
            <x>1458.3017391669473</x>
            <y>-798.7296879704868</y>
          </bends>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>b6ccbd4f-7b4e-32fe-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>b6ccbd4f-7b4e-32fe-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>14b3e766-a115-3e0f-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>858.3849295682458</x>
            <y>-848.7296879704868</y>
          </bends>
          <bends>
            <x>858.3849295682458</x>
            <y>-798.7296879704868</y>
          </bends>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>4251c603-1c70-357d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>4251c603-1c70-357d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1fe3046c-0347-3c88-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>858.3849295682458</x>
            <y>-663.1800244180033</y>
          </bends>
          <bends>
            <x>858.3849295682458</x>
            <y>-613.1800244180033</y>
          </bends>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>1b502e76-902b-350e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>1b502e76-902b-350e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5db17a34-5178-3243-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>887.8096313476562</x>
            <y>-878.0361328125</y>
          </bends>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>b6ccbd4f-7b4e-32fe-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>4251c603-1c70-357d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7d138c3c-1e71-31de-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>86ff1fe9-68df-329e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>eb99479f-456f-3ef7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7faa4d46-7f91-32d7-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>1b502e76-902b-350e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>01a8e035-8a1a-3eb7-0000-000000000000</groupId>
            <id>b6ccbd4f-7b4e-32fe-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>54957d85-dec1-3c91-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-registry-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Elasticsearch NiFi Status</key>
              <value>
                <name>Elasticsearch NiFi Status</name>
              </value>
            </entry>
          </descriptors>
          <name>AvroSchemaRegistry</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Elasticsearch NiFi Status</key>
              <value>{
  "namespace": "elasticsearch",
  "name": "NifiStatus",
  "type": "record",
  "fields": [
    {
      "name": "activeThreadCount",
      "type": [ "null", "int" ]
    }, {
      "name": "averageLineageDuration",
      "type": [ "null", "long" ]
    }, {
      "name": "bytesRead",
      "type": [ "null", "long" ]
    }, {
      "name": "bytesReceived",
      "type": [ "null", "long" ]
    }, {
      "name": "bytesSent",
      "type": [ "null", "long" ]
    }, {
      "name": "bytesTransferred",
      "type": [ "null", "long" ]
    }, {
      "name": "bytesWritten",
      "type": [ "null", "long" ]
    }, {
      "name": "componentId",
      "type": "string"
    }, {
      "name": "componentName",
      "type": "string"
    }, {
      "name": "componentType",
      "type": "string"
    }, {
      "name": "flowFilesReceived",
      "type": [ "null", "int" ]
    }, {
      "name": "flowFilesRemoved",
      "type": [ "null", "int" ]
    }, {
      "name": "flowFilesSent",
      "type": [ "null", "int" ]
    }, {
      "name": "flowFilesTransferred",
      "type": [ "null", "int" ]
    }, {
      "name": "hostname",
      "type": "string"
    }, {
      "name": "inputContentSize",
      "type": [ "null", "long" ]
    }, {
      "name": "inputCount",
      "type": [ "null", "int" ]
    }, {
      "name": "invocations",
      "type": [ "null", "int" ]
    }, {
      "name": "outputContentSize",
      "type": [ "null", "long" ]
    }, {
      "name": "outputCount",
      "type": [ "null", "int" ]
    }, {
      "name": "processingNanos",
      "type": [ "null", "long" ]
    }, {
      "name": "processorType",
      "type": [ "null", "string" ]
    }, {
      "name": "queuedContentSize",
      "type": [ "null", "long" ]
    }, {
      "name": "queuedCount",
      "type": [ "null", "int" ]
    }, {
      "name": "receivedContentSize",
      "type": [ "null", "long" ]
    }, {
      "name": "receivedCount",
      "type": [ "null", "int" ]
    }, {
      "name": "sentContentSize",
      "type": [ "null", "long" ]
    }, {
      "name": "sentCount",
      "type": [ "null", "int" ]
    }, {
      "name": "statusId",
      "type": "string"
    }, {
      "name": "timestamp",
      "type": "string"
    }
  ]
}</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
          <id>5cfcfec2-05b6-38ae-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
            <entry>
              <key>activeThreadCount</key>
              <value>
                <name>activeThreadCount</name>
              </value>
            </entry>
            <entry>
              <key>averageLineageDuration</key>
              <value>
                <name>averageLineageDuration</name>
              </value>
            </entry>
            <entry>
              <key>bytesRead</key>
              <value>
                <name>bytesRead</name>
              </value>
            </entry>
            <entry>
              <key>bytesReceived</key>
              <value>
                <name>bytesReceived</name>
              </value>
            </entry>
            <entry>
              <key>bytesSent</key>
              <value>
                <name>bytesSent</name>
              </value>
            </entry>
            <entry>
              <key>bytesTransferred</key>
              <value>
                <name>bytesTransferred</name>
              </value>
            </entry>
            <entry>
              <key>bytesWritten</key>
              <value>
                <name>bytesWritten</name>
              </value>
            </entry>
            <entry>
              <key>componentId</key>
              <value>
                <name>componentId</name>
              </value>
            </entry>
            <entry>
              <key>componentName</key>
              <value>
                <name>componentName</name>
              </value>
            </entry>
            <entry>
              <key>componentType</key>
              <value>
                <name>componentType</name>
              </value>
            </entry>
            <entry>
              <key>flowFilesReceived</key>
              <value>
                <name>flowFilesReceived</name>
              </value>
            </entry>
            <entry>
              <key>flowFilesRemoved</key>
              <value>
                <name>flowFilesRemoved</name>
              </value>
            </entry>
            <entry>
              <key>flowFilesSent</key>
              <value>
                <name>flowFilesSent</name>
              </value>
            </entry>
            <entry>
              <key>flowFilesTransferred</key>
              <value>
                <name>flowFilesTransferred</name>
              </value>
            </entry>
            <entry>
              <key>hostname</key>
              <value>
                <name>hostname</name>
              </value>
            </entry>
            <entry>
              <key>inputContentSize</key>
              <value>
                <name>inputContentSize</name>
              </value>
            </entry>
            <entry>
              <key>inputCount</key>
              <value>
                <name>inputCount</name>
              </value>
            </entry>
            <entry>
              <key>invocations</key>
              <value>
                <name>invocations</name>
              </value>
            </entry>
            <entry>
              <key>outputContentSize</key>
              <value>
                <name>outputContentSize</name>
              </value>
            </entry>
            <entry>
              <key>outputCount</key>
              <value>
                <name>outputCount</name>
              </value>
            </entry>
            <entry>
              <key>processingNanos</key>
              <value>
                <name>processingNanos</name>
              </value>
            </entry>
            <entry>
              <key>processorType</key>
              <value>
                <name>processorType</name>
              </value>
            </entry>
            <entry>
              <key>queuedContentSize</key>
              <value>
                <name>queuedContentSize</name>
              </value>
            </entry>
            <entry>
              <key>queuedCount</key>
              <value>
                <name>queuedCount</name>
              </value>
            </entry>
            <entry>
              <key>receivedContentSize</key>
              <value>
                <name>receivedContentSize</name>
              </value>
            </entry>
            <entry>
              <key>receivedCount</key>
              <value>
                <name>receivedCount</name>
              </value>
            </entry>
            <entry>
              <key>sentContentSize</key>
              <value>
                <name>sentContentSize</name>
              </value>
            </entry>
            <entry>
              <key>sentCount</key>
              <value>
                <name>sentCount</name>
              </value>
            </entry>
            <entry>
              <key>statusId</key>
              <value>
                <name>statusId</name>
              </value>
            </entry>
            <entry>
              <key>timestamp</key>
              <value>
                <name>timestamp</name>
              </value>
            </entry>
          </descriptors>
          <name>NiFi Status JSON Reader</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>schema-access-strategy</key>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>54957d85-dec1-3c91-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>Elasticsearch NiFi Status</value>
            </entry>
            <entry>
              <key>schema-text</key>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</value>
            </entry>
            <entry>
              <key>activeThreadCount</key>
              <value>$.activeThreadCount</value>
            </entry>
            <entry>
              <key>averageLineageDuration</key>
              <value>$.averageLineageDuration</value>
            </entry>
            <entry>
              <key>bytesRead</key>
              <value>$.bytesRead</value>
            </entry>
            <entry>
              <key>bytesReceived</key>
              <value>$.bytesReceived</value>
            </entry>
            <entry>
              <key>bytesSent</key>
              <value>$.bytesSent</value>
            </entry>
            <entry>
              <key>bytesTransferred</key>
              <value>$.bytesTransferred</value>
            </entry>
            <entry>
              <key>bytesWritten</key>
              <value>$.bytesWritten</value>
            </entry>
            <entry>
              <key>componentId</key>
              <value>$.componentId</value>
            </entry>
            <entry>
              <key>componentName</key>
              <value>$.componentName</value>
            </entry>
            <entry>
              <key>componentType</key>
              <value>$.componentType</value>
            </entry>
            <entry>
              <key>flowFilesReceived</key>
              <value>$.flowFilesReceived</value>
            </entry>
            <entry>
              <key>flowFilesRemoved</key>
              <value>$.flowFilesRemoved</value>
            </entry>
            <entry>
              <key>flowFilesSent</key>
              <value>$.flowFilesSent</value>
            </entry>
            <entry>
              <key>flowFilesTransferred</key>
              <value>$.flowFilesTransferred</value>
            </entry>
            <entry>
              <key>hostname</key>
              <value>$.actorHostname</value>
            </entry>
            <entry>
              <key>inputContentSize</key>
              <value>$.inputContentSize</value>
            </entry>
            <entry>
              <key>inputCount</key>
              <value>$.inputCount</value>
            </entry>
            <entry>
              <key>invocations</key>
              <value>$.invocations</value>
            </entry>
            <entry>
              <key>outputContentSize</key>
              <value>$.outputContentSize</value>
            </entry>
            <entry>
              <key>outputCount</key>
              <value>$.outputCount</value>
            </entry>
            <entry>
              <key>processingNanos</key>
              <value>$.processingNanos</value>
            </entry>
            <entry>
              <key>processorType</key>
              <value>$.processorType</value>
            </entry>
            <entry>
              <key>queuedContentSize</key>
              <value>$.queuedContentSize</value>
            </entry>
            <entry>
              <key>queuedCount</key>
              <value>$.queuedCount</value>
            </entry>
            <entry>
              <key>receivedContentSize</key>
              <value>$.receivedContentSize</value>
            </entry>
            <entry>
              <key>receivedCount</key>
              <value>$.receivedCount</value>
            </entry>
            <entry>
              <key>sentContentSize</key>
              <value>$.sentContentSize</value>
            </entry>
            <entry>
              <key>sentCount</key>
              <value>$.sentCount</value>
            </entry>
            <entry>
              <key>statusId</key>
              <value>$.statusId</value>
            </entry>
            <entry>
              <key>timestamp</key>
              <value>$.timestamp</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.json.JsonPathReader</type>
        </controllerServices>
        <controllerServices>
          <id>6c281e16-e449-3a82-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
            <entry>
              <key>Pretty Print JSON</key>
              <value>
                <name>Pretty Print JSON</name>
              </value>
            </entry>
          </descriptors>
          <name>Elasticsearch JSON Writer</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>54957d85-dec1-3c91-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>Elasticsearch NiFi Status</value>
            </entry>
            <entry>
              <key>schema-text</key>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
            </entry>
            <entry>
              <key>Pretty Print JSON</key>
              <value>true</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <inputPorts>
          <id>6ef37efb-8389-35d0-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <position>
            <x>459.1370779466215</x>
            <y>-979.1084778790921</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Input</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <processors>
          <id>86ff1fe9-68df-329e-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <position>
            <x>403.38492956824575</x>
            <y>-510.172634890215</y>
          </position>
          <bundle>
            <artifact>nifi-elasticsearch-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>elasticsearch-http-url</key>
                <value>
                  <name>elasticsearch-http-url</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>elasticsearch-http-connect-timeout</key>
                <value>
                  <name>elasticsearch-http-connect-timeout</name>
                </value>
              </entry>
              <entry>
                <key>elasticsearch-http-response-timeout</key>
                <value>
                  <name>elasticsearch-http-response-timeout</name>
                </value>
              </entry>
              <entry>
                <key>put-es-id-attr</key>
                <value>
                  <name>put-es-id-attr</name>
                </value>
              </entry>
              <entry>
                <key>put-es-index</key>
                <value>
                  <name>put-es-index</name>
                </value>
              </entry>
              <entry>
                <key>put-es-type</key>
                <value>
                  <name>put-es-type</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>put-es-batch-size</key>
                <value>
                  <name>put-es-batch-size</name>
                </value>
              </entry>
              <entry>
                <key>put-es-index-op</key>
                <value>
                  <name>put-es-index-op</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>elasticsearch-http-url</key>
                <value>http://<insert-elasticsearch-hostname>:9200</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Username</key>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>elasticsearch-http-connect-timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>elasticsearch-http-response-timeout</key>
                <value>45 secs</value>
              </entry>
              <entry>
                <key>put-es-id-attr</key>
                <value>es.identifier</value>
              </entry>
              <entry>
                <key>put-es-index</key>
                <value>nifi-status_${now():format('YYYY_MM')}</value>
              </entry>
              <entry>
                <key>put-es-type</key>
                <value>status</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>put-es-batch-size</key>
                <value>300</value>
              </entry>
              <entry>
                <key>put-es-index-op</key>
                <value>upsert</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Save status</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
        </processors>
        <processors>
          <id>b6ccbd4f-7b4e-32fe-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <position>
            <x>1003.3017391669473</x>
            <y>-888.7296879704868</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>eb99479f-456f-3ef7-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <position>
            <x>1003.3017391669473</x>
            <y>-703.1800244180033</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>es.identifier</key>
                <value>
                  <name>es.identifier</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>es.identifier</key>
                <value>${status.timestamp}-${status.statusId}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set es.identifier</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>1b502e76-902b-350e-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <position>
            <x>403.38492956824575</x>
            <y>-703.1800244180033</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>status.statusId</key>
                <value>
                  <name>status.statusId</name>
                </value>
              </entry>
              <entry>
                <key>status.timestamp</key>
                <value>
                  <name>status.timestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>status.statusId</key>
                <value>$.statusId</value>
              </entry>
              <entry>
                <key>status.timestamp</key>
                <value>$.timestamp</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Get statusId and timestamp</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>4251c603-1c70-357d-0000-000000000000</id>
          <parentGroupId>01a8e035-8a1a-3eb7-0000-000000000000</parentGroupId>
          <position>
            <x>403.38492956824575</x>
            <y>-888.7296879704868</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>record-reader</key>
                <value>5cfcfec2-05b6-38ae-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>6c281e16-e449-3a82-0000-000000000000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>NiFi status JSON -&gt; ES JSON</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
      </contents>
      <name>Store NiFi status history in Elasticsearch</name>
    </processGroups>
  </snippet>
  <timestamp>05/20/2017 14:48:04 UTC</timestamp>
</template>
